# ==========================================
# CONFIGURACIÓN FRONTEND - LABORIA
# ==========================================

# APIs de Empleo
VITE_JOBS_API_1_URL=/api/jcyl/api/records/1.0/search/?dataset=ofertas-de-empleo@jcyl
VITE_JOBS_API_1_KEY=
VITE_JOBS_API_2_URL=https://serpapi.com/search
VITE_JOBS_API_2_KEY=tu_serpapi_key
VITE_JOBS_API_3_URL=/api/jobicy/api/v2/remote-jobs
VITE_JOBS_API_3_KEY=
VITE_JOBS_API_4_URL=/api/himalayas/jobs/api
VITE_JOBS_API_4_KEY=
VITE_JOBS_API_5_URL=/api/remotive/api/remote-jobs
VITE_JOBS_API_5_KEY=
VITE_JOBS_API_6_URL=/api/arbeitnow/api/job-board-api
VITE_JOBS_API_6_KEY=

# APIs de Cursos
VITE_COURSES_API_1_URL=/api/khanacademy/api/v1/topic/root
VITE_COURSES_API_1_KEY=

# YouTube Data API
VITE_COURSES_YOUTUBE_KEY=tu_youtube_api_key

# Google Custom Search
VITE_COURSES_GOOGLE_SEARCH_KEY=tu_api_key_google
VITE_GOOGLE_CSE_ID=tu_custom_search_engine_id

# Bing Search API
VITE_COURSES_BING_KEY=tu_api_key_bing

# API Backend Laboria (cambiar en producción)
VITE_API_URL=http://localhost:3000
